# Vim
*.swp
# Virtualenv
.venv

.env
log/
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# IDE's configuration files
.idea
.vscode

# Kaggle dataset metadata
dataset-metadata.json
# Jupyter
.ipynb_checkpoints/
main.ipynb

# Competition data
data/
